<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mini Message Board</title>
    </head>
    <body style="font-family: 'Lucida', Helvetica, Arial, sans-serif ;">
        <div style="margin: 60px;">
            <!-- Loop through the messages array in server.js -->
            <h1><%= title %></h1>
            <p>Welcome to the Mini Messageboard app</p>
            <div>
                <% for (let i = 0; i < messages.length; i++) { %>
                    <div style="margin-bottom: 20px;">
                        <p style="margin: 0px; font-size: 15px; font-weight: bold;"><%= messages[i].user %>:</p>
                        <p style="margin: 0px; font-size: 13px;"><%= messages[i].text %></p>
                        <p style="margin: 0px; font-size: 13px;"><%= messages[i].added %></p>
                    </div>
                <% } %>
            </div>
            <button onclick="addMessage()">Add New Message</button>
        </div>
        <script>
            function addMessage() {
                window.location.href = '<%= BASE_URL %>/new';
            }
        </script>
    </body>
</html>
